@import '../../sass/colors';
.navbar {
    width: 100vw;
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: space-between;
    background-color: $dark;
    color: white;
    .navbar__left {
        i {
            font-size: 2rem;
        }
        display: flex;
        align-items: center;
        a {
            color: white;
            margin: 0 0.5rem;
            text-decoration: none;
        }
    }
    .navbar__right {
        display: flex;
    }
}
